// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "font-awesome";

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  letter-spacing: 2px;
  background: image_url('blackorchid.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

.frosty {
  background: rgba(0,0,0,0.4);
  color: white;
}

.frosty h1 { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.booyah-box {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px; 
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}
