// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  letter-spacing: 2px;
  background: image_url('blackorchid.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

.frosty {
  background: rgba(0,0,0,0.4);
  color: white;
}

.frosty h1 { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.userform {

  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
}

/*Trying to move login and signup button to right of navbar. Not working. */
.usersignin {
  float: left;
}
